@model TwitchForum.Models.CreateDiscussionViewModel
<div class="container">
    <div class="row create-row">
        @using (Html.BeginForm("Create", "Forum", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Добавить обсуждение</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Discussion.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Discussion.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Discussion.Title, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Discussion.Text, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Discussion.Text, new { htmlAttributes = new { @class = "form-control create-textarea" } })
                        @Html.ValidationMessageFor(model => model.Discussion.Text, "", new { @class = "text-danger" })
                    </div>
                </div>
                @Html.HiddenFor(model => model.Discussion.Rating, 0)
                @Html.HiddenFor(model => model.Name, new { Value = Context.User.Identity.Name })
                <div class="form-group">
                    @Html.LabelFor(model => model.Discussion.ChannelId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(x => x.Discussion.ChannelId, Model.Channels, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Discussion.ChannelId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>