@model TwitchForum.Models.DetailsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Disscusion.Title</title>
</head>
<body>
    <div class="container">
        <div class="discussion">
            <div class="discussion-head">
                <div class="col-8">
                    <div> <p>@Model.Disscusion.Title</p></div>
                    <div class="blog-post-meta">Запощено @Model.Disscusion.User.UserName в @Model.Disscusion.PublicationTime теме канала: @Model.Disscusion.Channel?.Name ??"-" </div>
                </div>
                <div class="col-4">
                    @if (User.Identity.Name == Model.Disscusion.User.UserName || User.IsInRole("admin") || User.IsInRole("moderator"))
                    {
                        <a href="@Html.Action("Delete", new { id = Model.Disscusion.Id })">Удалить</a>
                    }
                    @if (User.Identity.Name == Model.User.UserName)
                    {
                        <a href="@Html.Action("Edit", new { id = Model.Disscusion.Id })">Изменить</a>
                    }
                </div>
            </div>
            <div class="discussion-body">
                <p>@Model.Disscusion.Text</p>
            </div>
        </div>
        <div class="answers">
            <div class="write-answer">
                @Html.BeginForm("Answer", "Forum", FormMethod.Post){
                @Html.HiddenFor(x => x.NewAnswer.UserId, Context.User.Identity.Name)
                @Html.HiddenFor(x => x.NewAnswer.Discussion, Model.Disscusion);
                @Html.HiddenFor(x => x.NewAnswer.DiscussionId, Model.Disscusion.Id);
                @Html.TextAreaFor(x => x.NewAnswer.Text)
                }
            </div>
            <div class="prev-answers">
                @foreach (var item in Model.Answers)
                {
                    if (item.Sender.Roles.FirstOrDefault(x => x.RoleId == "204a0130-2b28-468d-8630-440b4897d753") != null)
                    {
                        //manager
                        <li>
                            <div class="toast fade show mb-sm-1">

                                <div class="toast-header">
                                    <img width="20" height="20" src="https://img.icons8.com/fluency/48/000000/m.png" />
                                    @Html.DisplayFor(modelItem => item.Sender.UserName)
                                </div>
                                <div class="toast-body">
                                    @Html.DisplayFor(modelItem => item.Text)
                                </div>
                            </div>
                        </li>
                    }
                    else if (item.Sender.Roles.FirstOrDefault(x => x.RoleId == "f1573978-1f60-4090-9c9c-d2200d8bee48") != null)
                    {
                        //admin
                        <li>
                            <div class="toast fade show mb-sm-1">

                                <div class="toast-header">
                                    <img width="20" height="20" src="https://img.icons8.com/fluency/48/000000/a.png" />
                                    @Html.DisplayFor(modelItem => item.Sender.UserName)
                                </div>
                                <div class="toast-body">
                                    @Html.DisplayFor(modelItem => item.Text)
                                </div>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li>
                            <div class="toast fade show mb-sm-1">

                                <div class="toast-header">
                                    @Html.DisplayFor(modelItem => item.Sender.UserName)
                                </div>
                                <div class="toast-body">
                                    @Html.DisplayFor(modelItem => item.Text)
                                </div>
                            </div>
                        </li>
                    }
                }
            </div>
        </div>
    </div>
</body>
</html>