@model IEnumerable<TwitchForum.DAL.Models.Discussion>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body class="forum-body">
    <div class="body-content container">
        <div class="row">
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
        </div>
        <div class="row blog-row">
            <div class="col blog-col">
                @foreach (var item in Model)
                {
                    <a class="post-blog-chose" href=@Html.Action("Details", new { id= item.Id})>
                        <div class="blog-post">
                            <div class=" blog-post-title">
                                @Html.DisplayFor(modelItem => item.Title)
                            </div>
                            <div class="blog-post-meta">
                                <p>
                                    @Html.DisplayFor(modelItem => item.PublicationTime)
                                    about a @item.Channel.Name channel
                                    by @item.User.UserName
                                </p>
                            </div>
                            <div class="blog-post-body">
                            </div>
                            <p>item.Text.Substring(0, 200)</p>

                            <div class="blog-bottom">
                                <a>Up</a>
                                <a>Down</a>
                                @Html.ActionLink("Посмотреть все", "Details", new { id = item.Id }) |
                                @Html.ActionLink("Ответить", "Answer");
                            </div>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
</body>
</html>