@model IEnumerable<TwitchForum.DAL.Models.Discussion>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body class="forum-body">
    <div class="body-content container">
        <div class="row d-flex justify-content-center m-3">
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-outline-light rounded-btn" })
        </div>
        <div class="row blog-row">
            <div class="col blog-col">
                @foreach (var item in Model)
                {
                    <a class="post-blog-chose" href=@Url.Action("Details", new { id = item.Id })>
                        <div class="blog-post">
                            <div class=" blog-post-title">
                                @item.Title
                                @*@Html.DisplayFor(modelItem => item.Title)*@
                            </div>
                            <div class="blog-post-meta">
                                <p>
                                    @item.PublicationTime
                                    about a @item.Channel.Name channel
                                    by @item.User.UserName
                                </p>
                            </div>
                            <div class="blog-post-body">
                                <p>
                                    @item.Text
                                </p>
                            </div>

                            <div class="blog-bottom">

                                <div class="details-link">|@Html.ActionLink("Посмотреть все", "Details", new { id = item.Id }) </div>
                            </div>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
</body>
</html>