@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav nav-pills">
            @if (this.User.IsInRole("manager"))
            {
                <li class="nav-item">
                    @Html.ActionLink("Добавить админа", "Index", "Main", routeValues: null, htmlAttributes: new { @class = "btn btn-outline-light", id = "registerLink" })
                </li>

            }
            <li class="nav-item">
                @Html.ActionLink("Здравствуйте " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link px-2 text-white" })
            </li>
            <li class="nav-item"><a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a></li>
        </ul>
    }
}
else
{

    <div class="text-end">
        <a>@Html.ActionLink("Регистрация", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-warning", id = "registerLink" })</a>
        <a>@Html.ActionLink("Выполнить вход", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-outline-light me-2" })</a>
    </div>
}