@using TwitchForum.Models
@using PagedList.Mvc;
@model MainViewModel
@{
    ViewBag.Title = "Index";
}

<div class="body-ground">
    <div class="container first-page ">
        <div class="img-fluid row py-lg-5"> <img src="~/Content/img/Twitch_Forum.png" /></div>

        <div class="row py-lg-5" d-flex justify-content-center">

            @using (Html.BeginForm("Index", "Main", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "input-group col-sm-7 input-group-lg ", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="input-group  justify-content-center">
                    <input type="search" class="form-control search-border p-3" />
                    <button class="btn btn-outline-secondary search-border p-3" type="submit"><img width="20px" height="20px" src="https://img.icons8.com/external-dreamstale-lineal-dreamstale/452/external-search-ui-dreamstale-lineal-dreamstale.png"></button>
                </div>
            }
        </div>
    </div>
</div>
<div class="container ">
    <div class="row justify-content-evenly">
        <div class="col-md-8 accordion-body">
            <h2>Чат</h2>
            <div class="container">
                <ul id="discussion">
                    @foreach (var item in Model.Messages)
                    {
                        if (item.Sender.Roles.FirstOrDefault(x => x.RoleId == "204a0130-2b28-468d-8630-440b4897d753") != null)
                        {
                            //manager
                            <li>
                                <div class="toast fade show">

                                    <div class="toast-header">
                                        <img width="15" height="15" src="~/Content/img/manager-logo.png" />
                                        @Html.DisplayFor(modelItem => item.Sender.UserName)
                                    </div>
                                    <div class="toast-body">
                                        @Html.DisplayFor(modelItem => item.Text)
                                    </div>
                                </div>Ц
                            </li>
                        }
                        else if (item.Sender.Roles.FirstOrDefault(x => x.RoleId == "f1573978-1f60-4090-9c9c-d2200d8bee48") != null)
                        {
                            //admin
                            <li>
                                <div class="toast fade show">

                                    <div class="toast-header">
                                        <img width="15" height="15" src="~/Content/img/admin-logo.png" />
                                        @Html.DisplayFor(modelItem => item.Sender.UserName)
                                    </div>
                                    <div class="toast-body">
                                        @Html.DisplayFor(modelItem => item.Text)
                                    </div>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li>
                                <div class="toast fade show">

                                    <div class="toast-header">
                                        @Html.DisplayFor(modelItem => item.Sender.UserName)
                                    </div>
                                    <div class="toast-body">
                                        @Html.DisplayFor(modelItem => item.Text)
                                    </div>
                                </div>
                            </li>
                        }
                    }
                </ul>
                @if (Request.IsAuthenticated)
                {
                    <input type="text" class="form-control form-control-plaintext " id="message" />
                    <input type="button" class="btn btn-light align-self-end " id="sendmessage" value="Отправить" />
                    <input type="hidden" id="displayname" />

                }
                <div class="flex-fill justify-content-center">
                    Страница @(Model.Messages.PageCount < Model.Messages.PageNumber ? 0 : Model.Messages.PageNumber) из @Model.Messages.PageCount
                    <nav class="pagination-lg ">
                        @Html.PagedListPager(Model.Messages, page => Url.Action("Index", new { page }), new PagedListRenderOptions
                              {
                                    ContainerDivClasses = new string[] { "pagination" },
                                    LiElementClasses = new string[] { "page-item" }
                              })
                    </nav>
                </div>
            </div>
            @section scripts {
                <!--Script references. -->
                <!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
                <!--Reference the SignalR library. -->
                <script src="~/Scripts/jquery.signalR-2.4.2.min.js"></script>
                <!--Reference the autogenerated SignalR hub script. -->
                <script src="~/signalr/hubs"></script>
                <!--SignalR script to update the chat page and send messages.-->
                <script>
                    $(function () {
                        // Reference the auto-generated proxy for the hub.
                        var chat = $.connection.chatHub;
                        // Create a function that the hub can call back to display messages.
                        chat.client.addNewMessageToPage = function (name, message) {
                            // Add the message to the page.
                            $('#discussion').append('<li class = "toast fade show list-group-numbered"><div class ="toast-header">' + htmlEncode(name)
                                + '</div> ' + '<div class ="toast-body">' + htmlEncode(message) + '</div> ' + '</li>');
                        };
                        chat.client.addMenegerMessageToPage = function (name, message) {
                            // Add the message to the page.
                            $('#discussion').append('<li class = "toast fade show list-group-numbered"><div class ="toast-header">' + '<img width="20" height="20" src="~/Content/img/manager-logo.png" />' + htmlEncode(name)
                                + '</div> ' + '<div class ="toast-body">' + htmlEncode(message) + '</div> ' + '</li>');
                        };
                        chat.client.addAdminMessageToPage = function (name, message) {
                            // Add the message to the page.
                            $('#discussion').append('<li class = "toast fade show list-group-numbered"><div class ="toast-header">' + '<img width="20" height="20" src="~/Content/img/admin-logo.png" />' + htmlEncode(name)
                                + '</div> ' + '<div class ="toast-body">' + htmlEncode(message) + '</div> ' + '</li>');
                        };
                        // Get the user name and store it to prepend to messages.
                        $('#displayname').val();
                        // Set initial focus to message input box.
                        $('#message').focus();
                        // Start the connection.
                        $.connection.hub.start().done(function () {
                            $('#sendmessage').click(function () {
                                // Call the Send method on the hub.
                                chat.server.send($('#displayname').val(), $('#message').val());
                                // Clear text box and reset focus for next comment.
                                $('#message').val('').focus();
                            });
                        });
                    });
                    // This optional function html-encodes messages for display in the page.
                    function htmlEncode(value) {
                        var encodedValue = $('<div />').text(value).html();
                        return encodedValue;
                    }
                </script>
            }
        </div>
        <div class="col-6 col-md-4">
            <div class="mt-sm-3">
                @foreach (var channel in Model.Channels)
                {
                    <div class="card">
                        <div class="card-header">
                            Популярное обсуждение
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>@channel.Name</p>
                                <footer class="blockquote-footer">@channel.Followers подпищиков сейчас <cite title="Source Title"></cite></footer>
                            </blockquote>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>